* {
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  height: 96.2vh;
  display: grid;
  gap: 10px;
  background-color: #252526;
  padding: 10px;
}

.container  div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.container  .div5 {
  background: linear-gradient(40deg , aliceblue , grey);
}
.container  .div4 {
  background: linear-gradient(45deg , rgb(1, 255, 208) , rgb(240, 240, 255));
}
.container  .div3 {
  background-color: rgba(255, 255, 255, 0.8);
}
.container  .div2 {
  background: linear-gradient(180deg , pink,  rgb(241, 76, 103));
}
.container  .div1 {
  background: linear-gradient(40deg , aliceblue , grey);
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 7;
}
.item2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}
.item3 {
  grid-column-start: 2;
  grid-column-end:5;
}
.item4 {
  grid-column-start: 5;
  grid-column-end:7;
}
.item5 {
  grid-column-start: 2;
  grid-column-end: 7;
}